{% extends 'base.html' %}
{% block title%}Super Heroes {% endblock %}
{% block content %}

<div class="container">
    <div class="d-flex row-xl-12 justify-content-center">
        <h3>List of Known Super Heroes</h3>
    </div>

    {% for hero in dataset %}
    <div class="d-flex row justify-content-sm-center">
        <div class="col-3 text-end">
            {% if hero[0] == selected_hero %}
            <h4>{{hero[0]}}</h4>
            {% else %}
            {{hero[0]}}
            {% endif %}
        </div>
        <div class="d-flex col-3 text-center">
            {% if hero[1] == 'DC' %}
            <div class="btn btn-primary btn-block" style="width:40%">DC</div>
            {% else %}
            <div class="btn btn-danger btn-block" style="width:40%">Marvel</div>
            {% endif%}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}